<!--
    file produces error message to user
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
</head>

<header>
    <%- include('../partials/header.ejs'); %>
</header>

<main class="container mt-5">
<p>
    ERROR!
    Unable to complete action.
</p>
</main>

<footer>
    <%- include('../partials/footer.ejs'); %>
</footer>

</html>