<!--
    file produces succcess message to user
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
</head>

<header>
    <%- include('../partials/header.ejs'); %>
</header>

<main class="container mt-5">
<p>
    SUCCESSFUL!
    Action completed.
</p>
</main>

<footer>
    <%- include('../partials/footer.ejs'); %>
</footer>

</html>