<!--
    file contains metadata for the head for an HTML document
    also contains Bootstrap styles
-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport", content="width=device-width", initial-scale="1.0">
    <title><%- title %></title>
    <!--reference to css from bootstrap-->
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" >
</head>

<!--Foundation CSS-->
<link rel="stylesheet" href="/public/css/vendor/normalize.css" />
<link rel="stylesheet" href="/public/css/vendor/foundation.min.css" />

<link rel="stylesheet" href="/public/css/style.css" />

<!--Foundation JS-->
<script type="text/javascript" src="/public/js/vendor/modernizr.js" ></script>
<script type="text/javascript" src="/public/js/vendor/jquery.js" ></script>
<script type="text/javascript" src="/public/js/vendor/foundation.min.js" ></script>
