<!--
    file contains metadata for the head for an HTML document
    also contains Bootstrap styles
-->

<meta charset="UTF-8">
<title>Eventeny</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    body { padding-top:10px; }
</style>

<!--Foundation CSS-->
<link rel="stylesheet" href="/public/css/vendor/normalize.css" />
<link rel="stylesheet" href="/public/css/vendor/foundation.min.css" />

<link rel="stylesheet" href="/public/css/style.css" />

<!--Foundation JS-->
<script type="text/javascript" src="/public/js/vendor/modernizr.js" ></script>
<script type="text/javascript" src="/public/js/vendor/jquery.js" ></script>
<script type="text/javascript" src="/public/js/vendor/foundation.min.js" ></script>
