<!--
    file contains welcome message when website is called upon
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>Welcome Back to Eventeny!</h1>
        <h6>Easily manage everything that goes into your in-person, hybrid, and online events all in one convenient place!
        </h6>

        <p class="mt-5">Click below to view your events.</p>
        <a asp-controller="events" asp-action="index" class="btn btn-primary mb-3">View Events</a>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>