<!--
    file contains welcome message when website is called upon
-->

<!-- TODO: button doesn't lead to the right place; error in controller?-->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
</head>

<header>
    <%- include('../partials/header.ejs'); %>
</header>

<main class = "container mt-5">
    <div class="jumbotron">
        <h1>Welcome Back to Eventeny!</h1>
        <h6>Easily manage everything that goes into your in-person, hybrid, and online events all in one convenient place!
        </h6>

        <p class="mt-5">Click below to view our events.</p>
        <form action="/events">
            <input type="submit" value="Events" class="btn btn-primary mb-3" />
        </form>

        <!-- TODO: define userId -->
        <p class="mt-3">Click below to manage your events.</p>
        <form action="/events/:userId">
            <input type="submit" value="View Your Events" class="btn btn-primary mb-3" />
        </form>
    </div>
</main>

<footer>
    <%- include('../partials/footer.ejs'); %>
</footer>

</html>